@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Zen+Tokyo+Zoo&display=swap');

/* colors to be used 
#2ECC71 green
#34495E blakish blue
#F0F3F4 gray white
#48C9B0 teal
#17202A more blakish blue
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'poppins', sans-serif;
    background: rgb(46, 204, 112);
}
.nav{
    background-color: #F0F3F4;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.logo h2{
    font-family: 'Zen Tokyo Zoo', sans-serif; 
    font-size: 40px;
    font-weight:lighter;
    color: #34495E;
    margin-left: 30px;
}
.navigation ul{
    display: flex;
    flex-direction: row;
}
.navigation ul li{
    list-style: none;
    padding: 0 40px;
}
.navigation ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #34495E;
    text-transform: uppercase;
    transition: .3s ease;
}
.navigation ul li a:hover{
    color: #48C9B0;
}
.navigation ul li a span{
        border: 1px solid #2ECC71;
        padding: 10px 15px;
        border-radius: 25px;
        background: #2ECC71;
        color: #34495E;
}
.mainbody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
    padding: 0px;
}
.text{
    width: 25%;
}
.text h5{
    color:#F0F3F4 ;
    font-size: 35px;
    letter-spacing: 4px;
    line-height: 20px;
    padding-bottom: 30px;
}
.text h2{
    color:#17202A ;
    font-size: 45px;
    font-weight: bolder;
    line-height: 40px;
    padding-bottom: 20px;
}
.text p{
    color:#17202A ;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 50px;
}
.text button{
    background: white;
    border: 1px solid #F0F3F4;
    border-radius: 15px;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0px 15px 30px -12px rgba(0, 128, 128, 0.205) ;
    transition: .3s ease;
    
}
.text button:hover{
    background: transparent;
    
}

.img{
    width: 30%;
    margin-right: 200px;
    
    
}
.img img{
    width: 100%;  
    border: 1px solid #48C9B0;
    background: #48c9afa2;
    border-radius: 48%;
    padding-top: 0px;
    margin-top: 20px;
}


